<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReminderSeeActivity"></activity>
        <activity android:name=".SetReminderActivity" />
        <activity android:name=".ReminderActivity" />
        <activity android:name=".subTasksActivity" />
        <activity android:name=".tasksActivity" />
        <activity android:name=".doneActivity" />
        <activity
            android:name=".to_do"
            android:label="@string/title_activity_to_do"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Notifications"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="BackgroundProcess" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.allyants.notifyme.NotificationPublisher" />
        <receiver android:name="com.allyants.notifyme.BootNotifyMe">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

</manifest>